
<%= form_with model: @user, url:'/users' do |f| %>
  <span>
    <% if @user.profile_image.attached? %>
        <%= image_tag user.profile_image, size: "100x100" %>
    <% else %>
      <%= image_tag 'no_image', size: "100x100" %>
    <% end %>
  </span>
  
  <table>
    <tr>
     <th>name</th>
     <td>
      <%= user.name %>
     </td>
    </tr> 
     
    <tr>
     <th>introduction</th>
     <td>
        <%= user.introduction %>
     </td>
    </tr> 
  </table>
        
  <div class="center-block">
    <%= link_to "<i class='fa-solid fa-user-gear'></i> Edit profile".html_safe , edit_user_path(@user),class: "btn btn-outline-secondary" %>
  </div>
<% end %>