
<%= form_with model: @user, url:'/users' do |f| %>
  <div class="center-block">
    <%= link_to "<i class='fa-solid fa-user-gear'></i> Edit profile".html_safe , edit_user_path(@user),class: "btn btn-outline-secondary" %>
  </div>
  <span>
    <% if @user.profile_image.attached? %>
        <%= image_tag user.profile_image, size: "150x150" %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: "150x150" %>
    <% end %>
  </span>
  
  <table>
    <tr>
     <th>name</th>
    </tr>
    <tr>
     <td style="text-align: right;">
      <%= user.name %>
     </td>
    </tr> 
     
    <tr>
     <th>introduction</th>
    </tr>
    <tr>
     <td style="text-align: right;">
     　   <%= user.introduction %>
     </td>
    </tr> 
  </table>
  
<% end %>