<h4><%= @user.name %>の投稿一覧</h4>

<div class="row">
  <div class="col-md-4">
    <table class="table">
      <tr>
        <td>
          <% if @user.profile_image.attached? %>
            <%= image_tag @puser.profile_image, style: "width:100%;" %>
          <% else %>
            <%= image_tag 'no_image.jpg', style: "width:100%;" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>name</th>
        <td><%= link_to @user.name, user_path(@user) %></td>
      </tr>
    </table>
  </div>

  <div class="col-md-8">
    <p>投稿件数：<%= @user.posts.count %></p>
    <%= render "posts/posts", posts: @user.posts %>
  </div>
</div>
