<h1>Admin::Questions#index</h1>

<%= link_to "Nme Question", new_admin_question_path, class: "btn btn-primary" %>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.id %></td>
        <td><%= question.title %></td>
        <td><%= link_to "show", admin_question_path(question), class: "btn btn-outline-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'back', admin_root_path, class: "btn btn-secondary" %>