<h2>Post comment</h2>

<div class="row">
  <div class="col-md-4">
    <table class="table">
      <tr>
        <td colspan=2>
          <% if @post.user.profile_image.attached? %>
            <%= image_tag @post.user.profile_image, style: "width:100%;" %>
          <% else %>
            <%= image_tag 'no_image', style: "width:100%;" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>name</th>
        <td><%= link_to @post.user.name, user_path(@post.user) %></td>
      </tr>
      <tr>
        <th>title</th>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <th>body</th>
        <td><%= simple_format @post.body %></td>
      </tr>
      <tr>
        <td colspan=2><%= render "favorites/favorite_button", post: @post %></td>
      </tr>
    </table>
    
    <% if @post.user == current_user %>
      <div>
        <span>
          <%= link_to "Edit", edit_post_path(@post) %>
        </span>
        <span>
          <%= link_to "Destroy", post_path(@post), method: :delete, data: {confirm: "本当に削除しますか？"} %>
        </span>
      </div>
    <% end %>
    
    <div>
      <h3>new comment</h3>
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control" %>
        <%= f.submit "送信する", class: "btn btn-primary btn-block my-4" %>
      <% end %>
    </div>
    
  </div>
  <div class="col-md-8">
    <p>コメント件数：<%= @post.comments.count %></p>
    <table class="table">
      <thead>
        <tr>
          <th>comment</th>
          <th>auther</th>
          <th>created_at</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @post.comments.any? %>
          <% @post.comments.each do |comment| %>
            <tr>
              <td><%= simple_format comment.comment %></td>
              <td><%= link_to comment.user.name, user_path(comment.user) %></td>
              <td><%= l comment.created_at, format: :long %></td>
              <td>
                <% if current_user && comment.user == current_user %>
                  <%= link_to "削除", comment_path(comment), method: :delete %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan=4>コメントはまだありません</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
