<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">AboutFood</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "[択一問題]#{title = Question.last.title}の結果", answers_path, class: "nav-item nav-link", data: { turbolinks: false } %>
        <% if user_signed_in? %>
          <%= link_to "#{title}に答える", new_answer_path, class: "nav-item nav-link" %>
          <%= link_to "<i class='fa-regular fa-pen-to-square'></i>Post".html_safe, posts_path, class: "nav-item nav-link" %>
          <%= link_to "<i class='fa-solid fa-user'></i>My page".html_safe, mypage_path, class: "nav-item nav-link" %>
          <%= link_to "<i class='fa-regular fa-hand'></i>Sign out".html_safe, destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
        <% else %>
          <%= link_to "<i class='fa-solid fa-house'></i>Home".html_safe, root_path, class: "nav-item nav-link" %>
          <%= link_to "<i class='fa-solid fa-link'></i>About".html_safe, about_path, class: "nav-item nav-link" %>
          <%= link_to "Sign up", new_user_registration_path, class: "nav-item nav-link" %>
          <%= link_to "Log in", new_user_session_path, class: "nav-item nav-link" %>
        <% end %>
        
    </div>
  </div>
</nav>
